@model CRM_CUS.Models.Isocurrency

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Isocurrency</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionRu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionRu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
