@model CRM_CUS.Models.TypeDocument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TypeDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCountryDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCountryDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionRu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionRu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecriptionEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecriptionEn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
