@model IEnumerable<CRM_CUS.Models.TypeDocument>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeCountryDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionRu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecriptionEn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeCountryDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionRu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecriptionEn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
